<domain type='kvm'>
  <name>sf:{{uuid}}</name>
  <uuid>{{uuid}}</uuid>
  <memory unit='KiB'>{{memory}}</memory>
  <currentMemory unit='KiB'>{{memory}}</currentMemory>
  <vcpu placement='static'>{{vcpus}}</vcpu>

  <sysinfo type='smbios'>
    <system>
      <entry name='manufacturer'>Shaken Fist</entry>
      <entry name='product'>shakenfist</entry>
      <entry name='version'>0.2</entry>
      <entry name='serial'>{{uuid}}</entry>
      <entry name='uuid'>{{uuid}}</entry>
    </system>
  </sysinfo>
  <os>
    <type arch='x86_64' machine='pc-1.1'>hvm</type>
    <boot dev='hd'/>
    <boot dev='cdrom'/>
    <bootmenu enable='yes' timeout='3000'/>
    <smbios mode='sysinfo'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-model'>
    <model fallback='allow'/>
  </cpu>
  <clock offset='utc'>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='rtc' tickpolicy='catchup'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>

  <devices>
    <emulator>/usr/bin/kvm</emulator>

    {% for disk in disks %}
    <disk type='file' device='{{disk.present_as}}'>
      <driver name='qemu' type='{{disk.type}}'/>
      <source file='{{disk.path}}'/>
      {{disk.backing}}
      <target dev='{{disk.device}}' bus='{{disk.bus}}'/>
    </disk>
    {% endfor %}

    <controller type='usb' model='none'/>
    <memballoon model='none'/>

    <controller type='pci' index='0' model='pci-root'/>
    <controller type='ide' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x1'/>
    </controller>

    {% for net in networks %}
    <interface type='bridge'>
      <mac address='{{net.macaddr}}'/>
      <source bridge='{{net.bridge}}'/>
      <model type='{{net.model}}'/>
    </interface>
    {% endfor %}

    <serial type='tcp'>
      <source mode='bind' host='0.0.0.0' service='{{console_port}}'/>
      <log file='{{instance_path}}/console.log' append='on'/>
      <protocol type='telnet'/>
      <target port='1'/>
    </serial>

    <graphics type='vnc' port='{{vdi_port}}' listen='0.0.0.0'>
      <listen type='address' address='0.0.0.0'/>
    </graphics>

    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <video>
      <model type='{{video_model}}' vram='{{video_memory}}' heads='1' primary='yes'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>
  </devices>
</domain>
